$black: #000;
$light-black: #666;
$white: #fff;
$background: #FAFBFB;
$header-bg: #201D5D;
$btn-blue: #222F61;
$arrow-green: #41B88E;
$arrow-red: #D5505B;
$rubrik: #4E4D84;
$light-grey: #EEF5FE;
$dark-grey: #E5E9ED;
$grey: #A9B7C3;
$light-blue: #76A9F3;
$dark-blue: #3180ED;
$green: #68DEAF;
$light-green: #EAFBF4;
$border-green: #D1F6E8;
$dark-orange: #F2994A;
$orange: #F5B073;
$light-orange: #FEF4EC;
$border-orange: #FEF1E4;

